@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplayRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplayBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplayExtralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplayLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplayMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplaySemibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Clash Display', sans-serif;
}

@layer utilities {
  .nav {
    @apply flex justify-between items-center px-6 md:px-20 py-4;
  }
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-gradient {
  background-image: url('/images/redyellow.png');
  background-size: cover;
  background-position: center;
}
.rev-gradient {
  background-image: url('/images/flipredyellow.png');
  background-size: cover;
  background-position: center;
}

.red-gradient {
  background-image: radial-gradient(circle, #FF5555, transparent);
  filter: blur(30px);
}
.hero-mobile{
  background-image: url('/images/mobile-1.png');
  background-size: cover;
  background-position: center;
}

.hr-fade {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #000, rgba(0, 0, 0, 0));
  margin: 0;
}